.date label.two{
 width:187px;
}
.date label.one{
  width:150px;
}
.date label.three{
 width:90px;
}
.date label.one{
  width:150px;
}
.fd_bar{
 padding-left:120px;
}
.fd_bar {
margin-left:20px;
}

.fieldimg{
	border:none;
	margin:5px 0px 3px 40px;
	padding:0px;
	vertical-align:middle; 
}
#fieldmanager .date{
font-size:20px;
}
.field_iterator{
    font-size:12px;
	margin:0px;
	padding:5px 0px 5px 2px;
	font-weight:bold;
	color:#014e68;
}