#jobresult ul{
list-style-type:none;
list-style:none;}

#jobresult ul li{
list-style-type:none;
list-style:none;}



.jobdescript{
	margin-left:10px;
font-size:15px;
font-weight:500;
 color:#1E7ACE;
}

.jobdetail{
margin-left:20px;
}
